doctype html
html
   head
      title="HOME"
   body
    fieldset 
      form(action='/film', method='POST')
        input(type='text', name='title', placeholder='Introduce nueva pelicula')  
        input(type='text', name='year', placeholder='Introduce el año')
        input(type='submit', value='Buscar')