doctype html
html
   head
      title="HOME"
   body
    fieldset 
      form(action='/api/film', method='POST')
        input(type='text', name='title', placeholder='Introduce nueva pelicula') 
        br 
        br
        input(type='text', name='director', placeholder='Introduce el director')
        br
        br
        input(type='text', name='year', placeholder='Introduce el año')
        br
        br
        input(type='submit', value='Crear')